importFrom("graphics", "legend", "lines", "locator", "mtext", "par", "plot", "points", "title")
importFrom("stats", "coefficients", "lm", "mad", "median", "na.omit")
importFrom("utils", "read.table", "write.table")
importFrom("ggplot2", "qplot", "geom_vline", "theme", "scale_x_continuous", "element_blank", "coord_cartesian")
importFrom("scales", "pretty_breaks")
importFrom("ggExtra", "removeGrid")
importFrom("plotly", "ggplotly", "subplot")
export(graph, graph.CL, graph.VAR, graph.TREND, graph.extract, graphly)